name: Deploy

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  deploy:
    name: Prod
    runs-on: ubuntu-latest
    environment: production
    env:
      GITHUB_SHA: ${{ github.sha }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ALCHEMY_PASSWORD: ${{ secrets.ALCHEMY_PASSWORD }}
      ALCHEMY_STATE_TOKEN: ${{ secrets.ALCHEMY_STATE_TOKEN }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
      BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
      BETTER_AUTH_URL: ${{ secrets.BETTER_AUTH_URL }}
      CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
      VITE_SERVER_URL: ${{ secrets.VITE_SERVER_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          stage: prod
