name: Deploy

on:
  pull_request:
    types: [opened, synchronize, reopened]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

permissions:
  contents: read
  pull-requests: write

jobs:
  deploy:
    name: Preview
    runs-on: ubuntu-latest
    environment: preview
    env:
      PULL_REQUEST: ${{ github.event.number }}
      GITHUB_SHA: ${{ github.sha }}
      DATABASE_URL: ${{ secrets.DATABASE_URL }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      ALCHEMY_PASSWORD: ${{ secrets.ALCHEMY_PASSWORD }}
      ALCHEMY_STATE_TOKEN: ${{ secrets.ALCHEMY_STATE_TOKEN }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      CLOUDFLARE_EMAIL: ${{ secrets.CLOUDFLARE_EMAIL }}
      BETTER_AUTH_SECRET: ${{ secrets.BETTER_AUTH_SECRET }}
      BETTER_AUTH_URL: ${{ secrets.BETTER_AUTH_URL }}
      CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
      VITE_SERVER_URL: ${{ secrets.VITE_SERVER_URL }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          stage: preview-${{ github.head_ref }}
